In [11]:
import pandas as pd
import numpy as np

In [14]:
results = pd.read_csv("data/results.csv")

In [15]:
results

,athlete,year,season,sport,discipline,pos,medal,country,country_code,team
0,1014,2020,Summer,Table Tennis,"Singles, Women",65.0,NaN,Nigeria,NGR,NaN
1,2069,2020,Summer,Archery,"Team, Mixed",24.0,NaN,Poland,POL,Sylwia Zyzańska
2,2069,2020,Summer,Archery,"Individual, Men",33.0,NaN,Poland,POL,NaN
3,11260,2020,Summer,Equestrian Jumping,"Individual, Open",5.0,NaN,Sweden,SWE,NaN
4,11260,2020,Summer,Equestrian Jumping,"Team, Open",1.0,Gold,Sweden,SWE,Sweden
...,...,...,...,...,...,...,...,...,...,...
291705,80232,1896,Summer,Shooting,"Free Rifle, Three Positions, 300 metres, Men",NaN,NaN,Greece,GRE,NaN
291706,80232,1896,Summer,Shooting,"Military Rifle, 200 metres, Men",11.0,NaN,Greece,GRE,NaN
291707,80233,1896,Summer,Shooting,"Military Rifle, 200 metres, Men",NaN,NaN,Great Britain,GBR,NaN
291708,80234,1896,Summer,Shooting,"Military Rifle, 200 metres, Men",NaN,NaN,Greece,GRE,NaN
291709,102578,1896,Summer,Shooting,"Free Rifle, Three Positions, 300 metres, Men",NaN,NaN,Greece,GRE,NaN

In [24]:
athletes = pd.read_csv(filepath_or_buffer="data/athletes.txt", sep=";")

athletes

,athlete,name,sex,born,died,affiliations,title,measurements
0,1.0,Jean-François•Blanchy,Male,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",NaN,NaN,NaN
1,2.0,Arnaud•Boetsch,Male,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,"Racing CF, Paris (FRA)",NaN,183 cm / 76 kg
2,3.0,Jean•Borotra,Male,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...","TCP, Paris (FRA)",NaN,183 cm / 76 kg
3,4.0,Jacques•Brugnon,Male,"11 May 1895 in Paris, Paris (FRA)","20 March 1978 in Paris, Paris (FRA)",Sporting Club de France,NaN,168 cm / 64 kg
4,5.0,Albert•Canet,Male,"17 April 1878 in Wandsworth, Greater London, E...","25 July 1930 in Paris, Paris (FRA)","TCP, Paris (FRA)",NaN,NaN
...,...,...,...,...,...,...,...,...
141851,147800.0,Santiago•Baronetto,Male,27 October 1992,NaN,NaN,NaN,NaN
141852,147801.0,Iván•Zarco,Male,"8 February 1994 in Barcelona, Barcelona (ESP)",NaN,NaN,NaN,NaN
141853,147802.0,René•Van Damme,Male,NaN,NaN,NaN,NaN,NaN
141854,147803.0,Lee•Yoo-Yeon,Male,4 September 2000,NaN,NaN,NaN,NaN
141855,147804.0,Anastasios•Papanastasiou,Male,7 August 1967 in Athina (Athens) (GRE),NaN,"ANOG, Athina (GRE)",NaN,186 cm / 87 kg

In [19]:
merged = pd.merge(left = athletes, right = results, how="inner")

In [31]:
# Setting index to name and born since this an unique way to identify
merged.set_index(["name","born"])

                                                                         athlete  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)         1.0
                         12 December 1886 in Bordeaux, Gironde (FRA)         1.0
                         12 December 1886 in Bordeaux, Gironde (FRA)         1.0
                         12 December 1886 in Bordeaux, Gironde (FRA)         1.0
                         12 December 1886 in Bordeaux, Gironde (FRA)         1.0
...                                                                          ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)  147801.0
René•Van Damme           NaN                                            147802.0
Lee•Yoo-Yeon             4 September 2000                               147803.0
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)         147804.0
                         7 August 1967 in Athina (Athens) (GRE)         147804.0

                                                                         sex  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)    Male
                         12 December 1886 in Bordeaux, Gironde (FRA)    Male
                         12 December 1886 in Bordeaux, Gironde (FRA)    Male
                         12 December 1886 in Bordeaux, Gironde (FRA)    Male
                         12 December 1886 in Bordeaux, Gironde (FRA)    Male
...                                                                      ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)  Male
René•Van Damme           NaN                                            Male
Lee•Yoo-Yeon             4 September 2000                               Male
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)         Male
                         7 August 1967 in Athina (Athens) (GRE)         Male

                                                                                                                     died  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)    2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...
                         12 December 1886 in Bordeaux, Gironde (FRA)    2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...
                         12 December 1886 in Bordeaux, Gironde (FRA)    2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...
                         12 December 1886 in Bordeaux, Gironde (FRA)    2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...
                         12 December 1886 in Bordeaux, Gironde (FRA)    2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...
...                                                                                                                   ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)                                                NaN
René•Van Damme           NaN                                                                                          NaN
Lee•Yoo-Yeon             4 September 2000                                                                             NaN
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)                                                       NaN
                         7 August 1967 in Athina (Athens) (GRE)                                                       NaN

                                                                              affiliations  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)                   NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)                   NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)                   NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)                   NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)                   NaN
...                                                                                    ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)                 NaN
René•Van Damme           NaN                                                           NaN
Lee•Yoo-Yeon             4 September 2000                                              NaN
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)         ANOG, Athina (GRE)
                         7 August 1967 in Athina (Athens) (GRE)         ANOG, Athina (GRE)

                                                                       title  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)     NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)     NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)     NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)     NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)     NaN
...                                                                      ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)   NaN
René•Van Damme           NaN                                             NaN
Lee•Yoo-Yeon             4 September 2000                                NaN
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)          NaN
                         7 August 1967 in Athina (Athens) (GRE)          NaN

                                                                          measurements  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)               NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)               NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)               NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)               NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)               NaN
...                                                                                ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)             NaN
René•Van Damme           NaN                                                       NaN
Lee•Yoo-Yeon             4 September 2000                                          NaN
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)         186 cm / 87 kg
                         7 August 1967 in Athina (Athens) (GRE)         186 cm / 87 kg

                                                                        year  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)    1920
                         12 December 1886 in Bordeaux, Gironde (FRA)    1920
                         12 December 1886 in Bordeaux, Gironde (FRA)    1920
                         12 December 1886 in Bordeaux, Gironde (FRA)    1912
                         12 December 1886 in Bordeaux, Gironde (FRA)    1912
...                                                                      ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)  2020
René•Van Damme           NaN                                            1920
Lee•Yoo-Yeon             4 September 2000                               2020
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)         1996
                         7 August 1967 in Athina (Athens) (GRE)         1992

                                                                        season  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)    Summer
                         12 December 1886 in Bordeaux, Gironde (FRA)    Summer
                         12 December 1886 in Bordeaux, Gironde (FRA)    Summer
                         12 December 1886 in Bordeaux, Gironde (FRA)    Summer
                         12 December 1886 in Bordeaux, Gironde (FRA)    Summer
...                                                                        ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)  Summer
René•Van Damme           NaN                                            Summer
Lee•Yoo-Yeon             4 September 2000                               Summer
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)         Summer
                         7 August 1967 in Athina (Athens) (GRE)         Summer

                                                                              sport  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)         Tennis
                         12 December 1886 in Bordeaux, Gironde (FRA)         Tennis
                         12 December 1886 in Bordeaux, Gironde (FRA)         Tennis
                         12 December 1886 in Bordeaux, Gironde (FRA)         Tennis
                         12 December 1886 in Bordeaux, Gironde (FRA)         Tennis
...                                                                             ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)    Athletics
René•Van Damme           NaN                                                 Rowing
Lee•Yoo-Yeon             4 September 2000                                 Swimming
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)         Water Polo
                         7 August 1967 in Athina (Athens) (GRE)         Water Polo

                                                                                                 discipline  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)                           Singles, Men
                         12 December 1886 in Bordeaux, Gironde (FRA)                         Doubles, Mixed
                         12 December 1886 in Bordeaux, Gironde (FRA)                           Doubles, Men
                         12 December 1886 in Bordeaux, Gironde (FRA)                           Singles, Men
                         12 December 1886 in Bordeaux, Gironde (FRA)                           Doubles, Men
...                                                                                                     ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)                        Marathon, Men
René•Van Damme           NaN                                                               Coxed Pairs, Men
Lee•Yoo-Yeon             4 September 2000                               4 × 200 metres Freestyle Relay, Men
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)                             Water Polo, Men
                         7 August 1967 in Athina (Athens) (GRE)                             Water Polo, Men

                                                                         pos  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)    32.0
                         12 December 1886 in Bordeaux, Gironde (FRA)     8.0
                         12 December 1886 in Bordeaux, Gironde (FRA)     4.0
                         12 December 1886 in Bordeaux, Gironde (FRA)    17.0
                         12 December 1886 in Bordeaux, Gironde (FRA)     NaN
...                                                                      ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)  76.0
René•Van Damme           NaN                                             NaN
Lee•Yoo-Yeon             4 September 2000                               13.0
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)          6.0
                         7 August 1967 in Athina (Athens) (GRE)         10.0

                                                                       medal  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)     NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)     NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)     NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)     NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)     NaN
...                                                                      ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)   NaN
René•Van Damme           NaN                                             NaN
Lee•Yoo-Yeon             4 September 2000                                NaN
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)          NaN
                         7 August 1967 in Athina (Athens) (GRE)          NaN

                                                                                  country  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)               France
                         12 December 1886 in Bordeaux, Gironde (FRA)               France
                         12 December 1886 in Bordeaux, Gironde (FRA)               France
                         12 December 1886 in Bordeaux, Gironde (FRA)               France
                         12 December 1886 in Bordeaux, Gironde (FRA)               France
...                                                                                   ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)           Honduras
René•Van Damme           NaN                                                      Belgium
Lee•Yoo-Yeon             4 September 2000                               Republic of Korea
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)                    Greece
                         7 August 1967 in Athina (Athens) (GRE)                    Greece

                                                                       country_code  \
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)            FRA
                         12 December 1886 in Bordeaux, Gironde (FRA)            FRA
                         12 December 1886 in Bordeaux, Gironde (FRA)            FRA
                         12 December 1886 in Bordeaux, Gironde (FRA)            FRA
                         12 December 1886 in Bordeaux, Gironde (FRA)            FRA
...                                                                             ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)          HON
René•Van Damme           NaN                                                    BEL
Lee•Yoo-Yeon             4 September 2000                                       KOR
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)                 GRE
                         7 August 1967 in Athina (Athens) (GRE)                 GRE

                                                                                     team
name                     born
Jean-François•Blanchy    12 December 1886 in Bordeaux, Gironde (FRA)                  NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)      Jeanne Vaussard
                         12 December 1886 in Bordeaux, Gironde (FRA)      Jacques Brugnon
                         12 December 1886 in Bordeaux, Gironde (FRA)                  NaN
                         12 December 1886 in Bordeaux, Gironde (FRA)       Jean Montariol
...                                                                                   ...
Iván•Zarco               8 February 1994 in Barcelona, Barcelona (ESP)                NaN
René•Van Damme           NaN                                                      Belgium
Lee•Yoo-Yeon             4 September 2000                               Republic of Korea
Anastasios•Papanastasiou 7 August 1967 in Athina (Athens) (GRE)                    Greece
                         7 August 1967 in Athina (Athens) (GRE)                    Greece

[291710 rows x 15 columns]

In [36]:
merged["medal"].describe()

count      41913
unique         3
top       Bronze
freq       14092
Name: medal, dtype: object

In [47]:

merged.groupby('name')['medal'].sum()

name
'Issam Abdul'azim•El-Khodary         0
A J•Kitt                             0
A'ja•Wilson                       Gold
A. C.•Gilbert                     Gold
A. D.•Franch                    Bronze
                                 ...
•Éder                             Gold
•Édson                               0
•Érika                          Silver
•Êga                                 0
•Ítalo Manzine                       0
Name: medal, Length: 139201, dtype: object

### Lösungsvariante 1

In [75]:
gold_medals_df = merged[merged['medal'] == 'Gold']
gold_medals_count = gold_medals_df['name'].value_counts()
print(gold_medals_count)

name
Michael•Phelps           23
Carl•Lewis                9
Paavo•Nurmi               9
Mark•Spitz                9
Larisa•Latynina           9
                         ..
Heinrich•Schomburgk       1
Michael•Stich             1
Fritz•Traun               1
Paige•Hauschild           1
Stephania•Haralabidis     1
Name: count, Length: 10874, dtype: int64